.uploads-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    background-color: var(--color-white);
    padding: 25px;
}
.navgation{
    display: flex;
    gap: 5px;
    align-items: center;
}
.home-img{
    width: 21px;
    height: 21px;
    color: #999999;
}
.nav-text{
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: #999999;

}
.uploads-list-headings{
    background-color: #EDEDED;

}
.uploads-heading{
    font-size: 45px;
    font-weight: 600;
    line-height: 64.45px;
    text-align: left;
    color: var(--color-black);
}
.upload-card{
    width: 375px;;
    height: 150px;
    border: 1px solid var(--color-gray);
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 25px 25px;
    cursor: pointer;
    box-shadow: 1.99px 3.25px 5.51px 1px var(--color-gray);
}
.upload-card:hover{
    transform: scale(1.05);
}
.upload-types{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.upload-details{
    font-size: 26.64px;
    font-weight: 600;
    text-align: left;
}
.upload-description{
    font-size: 20px;
    font-weight: 400;
    text-align: left;

}
.upload-card-img{
    width: 86.67px;
    height: 86.67px;
    border-radius: 16.71px;

}
.uploads{
    padding: 32px;
    border: 1.33px solid #C7C7C7;
    border-radius: 9px;
    height: 425px;
    overflow: auto;
}
.uploads-heading{
    font-size: 25.7px;
    font-weight: 600;
    text-align: left;
}
.uploads-list{
    max-width: 1120px;
    border-radius: 22px;
}
.uploads-list-headings{
    display: flex;
    height: 68px;
    max-width: 1120px;
}
.item-slno {
    max-width: 70px;
    width: 100%;
    font-weight: 500;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.item-container{
    max-width: 245px;
    width: 100%;
    font-weight: 500;
    line-height: 33.06px;
    display: flex;
    align-items: center;
}
.item-container2{
    max-width: 345px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.name-container{
    justify-content: start;
    justify-content: center;
}
.cell-size{
    font-size: 20px;
}
@media screen and (max-width: 1120px){
    .upload-card{
        width: 325px;
    }
}
@media screen and (max-width: 885px) {
    
    .uploads {
        padding: 2px;
    }
    .item-container{
        font-size: 18px;
        line-height: 21px;
    }
    /* .name-container{
        padding-left: 15px;
    } */
    .upload-card{
        width: 225px;
        height: 95px;
    }
    .upload-card-img{
        width: 45.67px;
        height: 45.67px;
    }
    .upload-details {
        font-size: 13.64px;
    }
    .upload-description {
        font-size: 12px;
    }
    .cell-size{
        font-size: 12px;
    }
}