.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 50px 180px;
}
.hero-heading{
    font-size: 60px;
    font-weight: 700;
    line-height: 86.03px;
    text-align: left;
    color: var(--color-purple);
}
.hero-img{
    width: 442.49px;
    height: 296.9px;
    top: 278px;
    left: 690px;
    gap: 0px;
    opacity: 0px;

}
.hero-content{
    font-size: 22.99px;
    font-weight: 400;
    line-height: 26.94px;
    text-align: center;
    max-width: 1312px;
    width: 100%;
    min-height: 147px;
    color: var(--color-gray);
}
.create-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16.82px;
    background-color: #211935;
    cursor: pointer;
    border-radius: 8.51px;
    padding: 5px 15px;
}
.add-icon{
    width: 35px;
    height: 35px;
}
.create-btn-text{
    font-size: 28.41px;
    font-weight: 600;
    color: var(--color-white);
}

.projects-container{
    margin: 50px 125px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.projects-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-heading{
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    color: var(--color-purple);
}
.add-icon2{
    height: 32px;
    width: 32px;
}
.create-btn-text2{
    font-size: 25.55px;
    font-weight: 600;
    color: var(--color-white);
}
.project-card{
    max-width: 452px;
    width: 100%;
    height: 132px;
    border-radius: 26.17px;
    border: 1.19px solid var(--color-gray);
    box-shadow: 1.19px 2.38px 5.95px 0px #0000000F;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 7px;
}
.project-card:hover{
    transform: scale(1.05);
    background-color: #2ecc71;
}
.project-title{
    width: 125.4px;
    height: 115.4px;
    border-radius: 18.21px;
    font-family: Roboto;
    font-size: 65px;
    font-weight: 700;
    line-height: 91.35px;
    text-align: left;
    background-color: #F8A01D;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    text-align: left;
    color: #000000;
}
.project-container{
    text-decoration: none;
}
.project-name{
    font-size: 25.31px;
    font-weight: 700;
    line-height: 29.66px;
    text-align: left;
    color: var(--color-purple);
}
.project-update{
    font-size: 15.82px;
    font-weight: 400;
    color: var(--color-gray);
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.loading-message{
    font-size: 45px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1075px) {
    .hero-container{
        margin: 15px;
    }
    .projects-container{
        margin: 15px;
    }
    /* .project-card {
        width: 326.02px;
    } */
}
@media screen and (max-width: 785px){
    .create-btn-text2 {
        font-size: 12.55px;
    }
    .add-icon2 {
        height: 26px;
        width: 25px;
    }
    .project-heading {
        font-size: 40.41px;
    }
}